{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static '/styles/sy_form.css' %}">
{% endblock %}

{% block body %}
<section class="d-flex">
<div class="col-10">
<h1>비밀번호 변경</h1>
<form action="{% url 'accounts:password' %}" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <br/>
  <input type="submit" value="변경" class="btn btn-info">
  <a href="{% url 'accounts:mypage_info_update' %}" class="btn btn-primary">취소</a>
</form>
</div>
</section>
{% endblock %}