/* ===== Resets and Housekeeping ===== */

  /* ===== Actual Styles ===== */
  
  /* ===== Horizontal Rule ===== */
  .rule {
    margin: 0 0;
    border: none;
    height: 1.5px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #c9bbae, #f0f0f0);
    background-image: linear-gradient(left, #f0f0f0, #c9bbae, #f0f0f0);
  }
  
  /* ===== Select Box ===== */
  .sel {
    font-size: 1rem;
    /* display: inline-block; */
    /* margin: 3em 2em; */
    /* width: 350px; */
    background-color: transparent;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .sel::before {
    position: absolute;
    content: '\f063';
    font-family: 'nexon_fb_L','FontAwesome';
    font-size: 2em;
    color: rgb(78,78,78);
    right: 20px;
    /* top: calc(50% - 0.5em); */
  }
  
  .sel.active::before {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  .sel.normal::before {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  
  .sel__placeholder {
    display: block;
    font-family: 'nexon_fb_L', 'Quicksand';
    font-size: 2.0em;
    color: rgb(78,78,78);
    padding: 0.2em 0.5em;
    text-align: left;
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    visibility: visible;
  }
  
  .sel.active .sel__placeholder {
    visibility: hidden;
  }
  
  .sel__placeholder::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.2em 0.5em;
    content: attr(data-placeholder);
    visibility: hidden;
  }
  
  .sel.active .sel__placeholder::before {
    visibility: visible;
  }
  
  .sel__box {
    position: absolute;
    top: calc(100% + 4px);
    left: -4px;
    display: none;
    list-style-type: none;
    text-align: left;
    font-size: 1em;
    background-color: #FFF;
    width: calc(100% + 8px);
    box-sizing: border-box;
  }
  
  .sel.active .sel__box {
    display: block;
    -webkit-animation: fadeInUp 500ms;
            animation: fadeInUp 500ms;
  }
  
  .sel__box__options {
    display: list-item;
    font-family: 'nexon_fb_L', 'Quicksand';
    font-size: 1.5em;
    background-color: white;
    color: #838e95;
    padding: 0.5em 1em;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .sel__box__options::after {
    content: '\f00c';
    font-family: 'nexon_fb_L', 'FontAwesome';
    font-size: 0.5em;
    margin-left: 5px;
    display: none;
  }
  
  .sel__box__options.selected::after {
    display: inline;
  }
  
  .sel__box__options:hover {
    background-color: #ebedef;
  }
  
  /* ----- Select Box Black Panther ----- */
  .sel {
    border-bottom: 4px solid rgba(0, 0, 0, 0.3);
  }
  
  .sel--black-panther {
    z-index: 3;
  }
  
  /* ----- Select Box Superman ----- */
  .sel--superman {
  /*   display: none; */
    z-index: 2;
  }
  
  /* ===== Keyframes ===== */
  @-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 20px, 0);
              transform: translate3d(0, 20px, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 20px, 0);
              transform: translate3d(0, 20px, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
  }
  
  @-webkit-keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  /* #favorite-save{
    width: 70px ;
    height: 35px ;
    margin-top: 3%;
    right: 10%;
    float: right;
} */
#favorite-save{
  width: 100px;
  float: right;
}