{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static '/styles/favorite_question.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/styles/fab.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/styles/favorite_box.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/styles/shadow.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/styles/favorite_prepare.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/styles/btn_start.css' %}">
{% endblock %}

{% block body %}


<div class="col-12">

  <br><br><br>
  <h2 style="display: inline;">질문 즐겨찾기 리스트</h2>

  <h3 style="display: inline;color: rgb(78, 78, 78);">
    <div style="float: right; "><i class="fas fa-heart" style="color: #FF689B;"></i> {{ favorites|length }}개</div>
  </h3>

  <div id="demo">

    <div class="table-responsive-vertical shadow-z-1">
      <table id="table" class="table table-hover table-mc-light-blue">
        <thead>
          <tr>
            <th>ID</th>
            <th>질문</th>
            <th>기업</th>
            <th>직무</th>
            <th>추가날짜</th>
            <th>/</th>
          </tr>
        </thead>
        <tbody>
          {% for favorite in favorites %}
          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop-{{favorite.pk}}" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel-{{favorite.pk}}" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
              <div class="modal-content modal-md">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel-{{favorite.pk}}">EPIA</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p id="modal_content">{{favorite.question.content}}</p>
                  <span id="q">라는 질문으로 면접을 시작하시겠습니까?</span>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-info" data-dismiss="modal">취소</button>
                  <form name="modalForm" action="{% url 'interviews:interview' %}" method="GET">
                    <input type="text" name="company" id="" value="{{favorite.question.company.pk}}" style="display: none;">
                    <input type="text" name="position" id="" value="{{favorite.question.position.pk}}" style="display: none;">
                    <input type="text" name="question" id="" value="{{favorite.question.pk}}" style="display: none;">
                  <button type="submit" class="btn btn-primary">확인</button>
                </form>
                </div>
              </div>
            </div>
          </div>

          <tr>
            <td data-title="ID">{{ favorite.question.pk }}</td>
            <td data-title="content" data-toggle="modal" data-target="#staticBackdrop-{{favorite.pk}}">{{ favorite.question.content }}</td>
            <td data-title="company" data-toggle="modal" data-target="#staticBackdrop-{{favorite.pk}}">{{ favorite.question.company.name }}</td>
            <td data-title="position" data-toggle="modal" data-target="#staticBackdrop-{{favorite.pk}}">{{ favorite.question.position.name }}</td>
            <td data-title="created_at" data-toggle="modal" data-target="#staticBackdrop-{{favorite.pk}}">{{ favorite.created_at }}</td>
            
            <td data-title="delete">
              <form action="{% url 'epia:mypage_favorite_delete' favorite.pk %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="삭제" class="btn btn-secondary">
              </form>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td data-title="content" style="text-align: center;">즐겨찾는 질문이 없습니다.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  

</div>
<!--col 끝 -->
<div class="container">
<h3 style="margin-bottom: 10px;"><i class="fas fa-search"></i>&nbsp 질문 추가하기</h3>
<form name="sendForm" action="{% url 'epia:mypage_favorite' %}" method="POST">
  {% csrf_token %}
  <div class="row index-row">
    <div class="col-5 select-div">
      <div class="sel sel--black-panther" id="select-company">
        <select name="company">
          <option value="" disabled>회사를 선택하세요</option>
          {% if companies %}
            {% for company in companies %}
              <option value="{{ company.pk }}">{{ company.name }}</option>
            {% endfor %}
          {% endif %}
        </select>
      </div>
    </div>
    <div class="col-7 select-div">
      <div class="sel sel--black-panther" id="select-position">
        <select name="position">
          <option value="" disabled>직무를 선택하세요.</option>
          <!-- <option value="">None</option> -->
        </select>
      </div>
    </div>
  </div>

  <div class="row index-row">
    <div class="col-12 select-div">
      <div class="sel sel--black-panther" id="select-question">
        <select name="question">
          <option value="" disabled>질문을 선택하세요.</option>
          <!-- <option value="">None</option> -->
        </select>
      </div>
    </div>
  </div>
  
    
  <button type="submit" id="favorite-save" class="btn-hover color-1">추가</button>
  <!-- <button type="submit" id="favorite-save" class="btn btn-info">추가</button> -->
  
 
</form>
</div>
</div>

</div>
<!--row 끝-->

<div class="fab-menu-container-vertical">
  <a href="#" class="cornerfloat menu-fab">
    <i class="fas fa-home"></i>
  </a>
  <ul>
    <li>
      <a href="{% url 'epia:index' %}" tooltip="메인페이지">
        <i class="fas fa-list"></i>
      </a>
    </li>
    <li>
      <a href="{% url 'epia:mypage_favorite' %}" tooltip="즐겨찾는 질문 리스트">
        <i class="fas fa-poll-h"></i>
      </a>
    </li>
    <li>
      <a href="{% url 'interviews:mypage_resultlist' %}" tooltip="면접 결과 리스트">
        <i class="fa fa-envelope"></i>
      </a>
    </li>
   
  </ul>
</div>
<!--container 끝!-->


{% endblock %}

{% block script %}
<script src="{% static '/js/favorite_box.js' %}"></script>
{% endblock %}